body {
  text-align: center;
  font-family: Helvetica, sans-serif;
  perspective: 1000px;
  color: #333;
}

p {
  rotate: x 30deg;
}

#cabecera {
  background-color: rgb(82, 6, 153);
  border: 1px solid black;
  box-shadow: inset 2px 2px 4px 2px rgba(0,0,0.2);
  border-radius: 15px;
}
